.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensures navbar stays on top */
  }
  @media (max-width: 768px) {
    .navbar {
      position: static;  /* On small screens, navbar is not sticky */
    }
  
    .carousel-container {
      margin-top: 120px;  /* Adjust as needed */
    }
  }
  
  
 
  
  .items:hover {
    text-decoration: underline;
    color: #005da7;  /* Text color change on hover */
    font-weight: bold;
    text-decoration-color: #005da7;  /* Ensure no quotes around color values */
    box-shadow: #005da7 0px 25px 20px -20px;
}
  
  

  
 